<div class="contact-area pt-115 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <!-- get-in-toch -->
                <div class="get-in-toch">
                    <div class="section-title mb-30">
                        <h3>BİZİMLE</h3>
                        <h2>İLETİŞİME GEÇİN</h2>
                    </div>
                    <div class="contact-desc mb-50">
                        <p>
                            <span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust" class="tooltip-content"></span> Bizimle iletişime geçin ve hayallerinizdeki
                            evi bulmanıza yardımcı olalım. İletişim sayfamız aracılığıyla sorularınızı sormak,
                            önerilerde bulunmak veya randevu taleplerinizi iletmek için bize kolayca ulaşabilirsiniz.
                        </p>
                    </div>
                    <ul class="contact-address">
                        <li>
                            <div class="contact-address-icon">
                                <img src="images/icons/location-2.png" alt="">
                            </div>
                            <div class="contact-address-info">
                                <span>@ViewBag.address </span>
                            </div>
                        </li>
                        <li>
                            <div class="contact-address-icon">
                                <img src="images/icons/phone-3.png" alt="">
                            </div>
                            <div class="contact-address-info">
                                <span>Telefon : @ViewBag.telephone1</span>
                                <span>Telefon : @ViewBag.telephone2</span>
                            </div>
                        </li>
                        <li>
                            <div class="contact-address-icon">
                                <img src="images/icons/world.png" alt="">
                            </div>
                            <div class="contact-address-info">
                                <span>Email : @ViewBag.mail</span>
                                <span>Web :<a href="#" target="_blank"> @ViewBag.website</a></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


